.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
  height: 456px;
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}