.hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  min-height: 710px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), center/cover no-repeat url(../../images/soft-windows/soft-windows-37.jpg);
}

@media screen and (max-width: 900px) {
  .hero {
    min-height: 500px;
    height: 500px;
  }
}