.menu-icon_active {

}

.menu-icon_active .menu-icon__span {
  transform: scale(0);
}

.menu-icon_active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.menu-icon_active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}