.slider__button {
  height: 50%;
  top: 20%;
  padding: 0 5px;
  background-color: #585858;
  z-index: 4;
  transition: background-color .3s;
}

.slider__button:hover {
  background-color: rgba(0, 0, 0, .4);
}

.slider__button::after {
  color: #fff;
}

@media screen and (max-width: 1065px), (max-height: 600px) {
  .slider__button {
   display: none;
  }
}