.hero__text_secondary {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(255, 255, 255, .7);
}

@media screen and (max-width: 587px) {
  .hero__text_secondary {
    max-width: 500px;
    text-align: center;
  }
}