.section {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px 52px;
  max-width: 936px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section {
    padding-bottom: 35px;
  }
}